node-red/flows/arp_presence_detection.flow
[{"id":"34a8f2f4.c4e82e","type":"function","z":"913d7c95.636c8","name":"Detect Presence","func":"const triggers = 10;\nconst MAC = \"00:0:00:00:00:00\";\nvar count = context.count||0;\n\nif(msg.payload.indexOf(MAC)>0){\n    if(count < 1){\n        msg.payload = 1;\n        count = triggers;\n        context.count = count;\n        return msg;\n    }else count = triggers;\n    \n}else{\n    count -= 1;\n    if(count === 0){\n        msg.payload = 0;\n        context.count = count;\n        return msg;\n    }else if(count < 0){\n        count = 0; \n    }\n}\ncontext.count = count;\n","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["f5a0eba.9de6918"]]},{"id":"e7757e86.5eae4","type":"exec","z":"913d7c95.636c8","command":"sudo arp-scan --interface=eth0 --localnet","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Arp-Scan","x":365,"y":212.5,"wires":[["34a8f2f4.c4e82e"],["106b2ce2.2f66c3"],[]]},{"id":"71556c8b.427f74","type":"inject","z":"913d7c95.636c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":true,"onceDelay":"","x":140,"y":213,"wires":[["e7757e86.5eae4"]]},{"id":"f5a0eba.9de6918","type":"debug","z":"913d7c95.636c8","name":"","active":true,"console":"false","complete":"false","x":770,"y":198,"wires":[]},{"id":"106b2ce2.2f66c3","type":"debug","z":"913d7c95.636c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":260,"wires":[]}]
