node-red/flows/door_sensor.flow
[{"id":"fca08ff1.0b38c","type":"mqtt in","z":"24c65efd.8a1e62","name":"","topic":"/house/door","qos":"2","broker":"f5cc94c.5eab568","x":250,"y":340,"wires":[["96eacf90.18084"]]},{"id":"96eacf90.18084","type":"function","z":"24c65efd.8a1e62","name":"","func":"var currentdate = new Date(); \nvar datetime = \"[\" + currentdate.getDate() + \"/\"\n    + (currentdate.getMonth()+1)  + \"/\" \n    + currentdate.getFullYear() + \" \"  \n    + currentdate.getHours() + \":\"  \n    + currentdate.getMinutes() + \":\" \n    + currentdate.getSeconds() + \"] \";\nmsg = datetime;\nif ( msg.payload === \"OPEN\" ) {\n    msg = msg + \"ABIERTA\";\n} else {\n    msg = msg + \"CERRADA\";\n}\nreturn { payload: msg };","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["65f15449.85f83c","26748988.62e446"]]},{"id":"65f15449.85f83c","type":"e-mail","z":"24c65efd.8a1e62","server":"smtp.gmail.com","port":"465","secure":true,"name":"zamberjo@gmail.com","dname":"","x":740,"y":340,"wires":[]},{"id":"26748988.62e446","type":"ui_text","z":"24c65efd.8a1e62","group":"ed42a6f3.629c18","order":0,"width":0,"height":0,"name":"","label":"","format":"<h2>{{msg.payload}}</h2>","layout":"col-center","x":690,"y":400,"wires":[]},{"id":"f5cc94c.5eab568","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ed42a6f3.629c18","type":"ui_group","z":"","name":"Puerta","tab":"ea66b264.5335d","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea66b264.5335d","type":"ui_tab","z":"","name":"Casa","icon":"dashboard","order":1}]
