node-red/flows/DS18B20.flow
[{"id":"4a577e39.d672d","type":"tab","label":"DS18b20","disabled":false,"info":""},{"id":"5b030796.e0e5f8","type":"rpi-ds18b20","z":"4a577e39.d672d","topic":"payload","array":false,"name":"","x":230,"y":2480,"wires":[["5774fc66.167ca4"]]},{"id":"5774fc66.167ca4","type":"debug","z":"4a577e39.d672d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":360,"y":2560,"wires":[]},{"id":"8b498c9c.497d3","type":"inject","z":"4a577e39.d672d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":2560,"wires":[["5b030796.e0e5f8"]]},{"id":"ac460928.c0bdf8","type":"rpi-ds18b20","z":"4a577e39.d672d","topic":"","array":false,"name":"","x":530,"y":240,"wires":[["3c232116.59b56e","9b3db24e.8934f","c3042953.3c4368"]]},{"id":"f499a69f.369de8","type":"inject","z":"4a577e39.d672d","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":240,"wires":[["ac460928.c0bdf8"]]},{"id":"3c232116.59b56e","type":"debug","z":"4a577e39.d672d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":244,"wires":[]},{"id":"9b3db24e.8934f","type":"ui_gauge","z":"4a577e39.d672d","name":"","group":"f1a529aa.faff88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#0019b5","#e0e600","#ff0000"],"seg1":"","seg2":"","x":791,"y":297,"wires":[]},{"id":"c3042953.3c4368","type":"ui_chart","z":"4a577e39.d672d","name":"","group":"f1a529aa.faff88","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":360,"wires":[[],[]]},{"id":"f1a529aa.faff88","type":"ui_group","z":"","name":"Comedor","tab":"164d6d9f.e37f12","order":1,"disp":true,"width":"6","collapse":false},{"id":"164d6d9f.e37f12","type":"ui_tab","z":"","name":"Nidito","icon":"dashboard","order":2}]