node-red/flows/mosca_mqtt_broker.flow
[{"id":"6ce526df.37b0c8","type":"mqtt in","z":"4f6e51e9.6dcd1","name":"","topic":"/test","qos":"2","broker":"f5cc94c.5eab568","x":330,"y":360,"wires":[["a451416d.e771"]]},{"id":"8726a0bf.240fe","type":"mosca in","z":"4f6e51e9.6dcd1","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":290,"y":240,"wires":[["4f4efbca.b45c24"]]},{"id":"45d9d026.140bb","type":"inject","z":"4f6e51e9.6dcd1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["2757a651.1f5fea"]]},{"id":"2757a651.1f5fea","type":"mqtt out","z":"4f6e51e9.6dcd1","name":"","topic":"/test","qos":"","retain":"","broker":"f5cc94c.5eab568","x":630,"y":300,"wires":[]},{"id":"a451416d.e771","type":"debug","z":"4f6e51e9.6dcd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":358,"wires":[]},{"id":"4f4efbca.b45c24","type":"debug","z":"4f6e51e9.6dcd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"f5cc94c.5eab568","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
